@inherits LayoutComponentBase

<style>
	#area-cabecalho{
		margin-bottom:-15px;
		 padding:5px; 
	}

	#link-menu {
		padding: 5px;
		text-decoration: none;
		margin-left: 10px;
	}

	#area-menu {
		border:1px solid red;
		padding: 10px;
		margin-left: 25px;
		margin-right: 20px;
		width: 99%;
	}

	#area-menu > #link-menu:hover {
		background-color: black;
		color: white;
		border-radius: 5px;
	}
	#area-rodape {
		margin:auto;
		margin-right: 26px;
		margin-bottom: 20px;
		width:95%;
		padding: 10px;
		border: 1px solid red;
	}
	#area-rodape > *:nth-child(2) > li:hover {
		background-color: black;
		color: white;
		border-radius: 5px;
	}

	#dados-desenvolvedor > li {
		padding: 10px;
	}

	#link-repositorio-git-hub {
		text-decoration: none;
	}

	#titulo-area-dodos-desenvolvedor{
		margin:auto;
		margin-bottom:20px;
		color:white;
		font-size:14px;
		border-radius:5px;
		text-align:center;
		padding:5px;
	}

	#titulo-area-dodos-desenvolvedor:hover{
		color:cadetblue;
		font-weight:900;
	}
	#dados-desenvolvedor{
		font-size:12px;
	}

	#secccao-logo{
		width:40%;
		border:1px solid red;
		padding:10px;
		margin-right: 20px;
	}

</style>

<div class="page">

	<main class="m-auto">

		<header id="area-cabecalho" class="m-auto d-flex">

			<nav id="area-menu">
				<NavLink id="link-menu" href="/">Inicio</NavLink>
				<NavLink id="link-menu" href="home">Area Cadastro</NavLink>
				<NavLink id="link-menu" href="outrosassuntos">Outros Assuntos</NavLink>
				<NavLink id="link-menu" href="sobre">Sobre</NavLink>
			</nav>

			<section id="secccao-logo">
				<div>
					<h1>Logotipo</h1>
				</div>
			</section>

		</header>

		<hr />

		<section id="seccao-inicial" class="m-auto">

			<article class="content px-4 h-100">
				@Body
			</article>

		</section>

		<div id="area-rodape">
			<h2 id="titulo-area-dodos-desenvolvedor" class="bg-black">Dados do Desenvolvedor</h2>

			<ul id="dados-desenvolvedor">
				<li>Nome: Guilherme Sebastião</li>
				<li>Telefone: 945-562-444</li>
				<li>E-mail: guilhermesebastiao2023@gmail.com</li>
				<li>LikedIn: Guilherme Sebastião</li>
				<li>Github: <a id="link-repositorio-git-hub" href="https://www.github.com/Guilherme10-08" target="_blank" rel="external">www.github.com/Guilherme10-08</a> </li>
			</ul>
		</div>
	</main>

</div>


<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>
